@import '../utils/util.scss';
$placeHolderColor: #999;

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hover-box {
  outline: 0;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  border-radius: $defaultBorderRadius;
}
.anchor-box {
  height: 100%;
  border-radius: $defaultBorderRadius;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 8px 12px 5px 12px;
  border: 1px solid;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  white-space: nowrap;
}
.selection-anchor {
  @extend .anchor-box;
  cursor: pointer;
  .selection-clearance {
    position: absolute;
    right: 35px;
    font-weight: bold;
    &:hover {
      color: black;
    }
  }
  &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: $activeBorderColor;
  }
}
.selection-anchor-disabled {
  @extend .anchor-box;
  border-color: $defaultBorderColor;
  cursor: default;
  pointer-events:none;
  background: #f8f8f8;
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  &:after {
    font-size: 12px;
    content: '⏷';
    right: 10px;
    @extend .vertical-center;
    padding-bottom: 3px;
  }
}
.selection-anchor-open {
  @extend .selection-anchor;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: $activeBorderColor;
  &:after {
    font-size: 12px;
    content: '⏶';
    right: 10px;
    @extend .vertical-center;
    padding-bottom: 3px;
  }
}
.selection-anchor-close {
  @extend .selection-anchor;
  border-color: $defaultBorderColor;
  &:hover {
    @extend .hover-box;
  }
  &:after {
    font-size: 12px;
    content: '⏷';
    right: 10px;
    @extend .vertical-center;
    padding-bottom: 3px;
  }
}
.place-holder {
  color: $placeHolderColor;
}
.selected-item {
  color: $defaultFontColor;
}
